:root {
  --font-family: proxima-nova, sans-serif;
  --color-dark: #222;
  --color-aoa-blue: #006;
  --color-sea-serpent: #11c7eb;
  --color-teal: #22a49c;
  --color-gold: #fa0;
  --color-warm: #f9f7f5;
  --blueStartColor: #8cbfed;
  --blueStopColor: #6785a1;
  --yellowStartColor: #fffecc;
  --yellowStopColor: #fffc66;
  --seaStartColor: #27e5f7;
  --seaStopColor: #11c7eb;
  --whiteStartColor: #f9f7f5;
  --whiteStopColor: #f9f7f5;
  --primary-color: var(--color-aoa-blue);
  --font-color-dark: var(--color-dark);
  --bezier-timing: .175, .885, .32, 1.275;
}

.blobs {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -10%;
}

.blob {
  height: auto;
  width: 100%;
  position: absolute;
}

.blob--blue {
  top: 5%;
  left: 40%;
}

.blob--yellow {
  top: 20%;
  right: -50%;
}

.blob--yellow-2 {
  width: 120%;
  mix-blend-mode: lighten;
  top: 20%;
  left: -50%;
  transform: rotate(29deg);
}

.blob--white {
  width: 150%;
  top: 10%;
  left: -5%;
}

.blob--sea {
  width: 170%;
  top: 20%;
  left: -35%;
  transform: rotate(9deg);
}

.tk-blob {
  transform-origin: center;
}

.tk-blob svg {
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: blob-skew var(--time, 221s) ease-in-out 0s infinite;
}

.tk-blob--1 {
  animation-delay: .5s;
  animation-duration: calc(var(--time, 100s)  * .5);
  transform: scale(130%)rotate(-50deg);
}

.tk-blob--2 {
  animation-delay: 2s;
  animation-duration: calc(var(--time, 80s)  * .5);
}

.tk-blob--3 {
  animation-duration: calc(var(--time, 60s)  * .5);
  animation-delay: 1s;
}

.tk-blob--4 {
  animation-duration: calc(var(--time, 120s)  * .5);
  animation-delay: 0;
}

.tk-blob svg path {
  animation: blob-scale calc(var(--time, 90s)  * .5) ease-in-out 0s infinite;
  transform-origin: center;
}

@keyframes blob-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(var(--turn, 30deg) );
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg);
  }

  13% {
    transform: skewY(calc(1.8deg * var(--amount, 2) ) );
  }

  18% {
    transform: skewY(calc(2.2deg * var(--amount, 2) ) );
  }

  24% {
    transform: skewY(calc(2.48deg * var(--amount, 2) ) );
  }

  25% {
    transform: skewY(calc(2.5deg * var(--amount, 2) ) );
  }

  26% {
    transform: skewY(calc(2.48deg * var(--amount, 2) ) );
  }

  32% {
    transform: skewY(calc(2.2deg * var(--amount, 2) ) );
  }

  37% {
    transform: skewY(calc(1.8deg * var(--amount, 2) ) );
  }

  50% {
    transform: skewY(0deg);
  }

  63% {
    transform: skewY(calc(-1.8deg * var(--amount, 2) ) );
  }

  68% {
    transform: skewY(calc(-2.2deg * var(--amount, 2) ) );
  }

  74% {
    transform: skewY(calc(-2.48deg * var(--amount, 2) ) );
  }

  75% {
    transform: skewY(calc(-2.5deg * var(--amount, 2) ) );
  }

  76% {
    transform: skewY(calc(-2.48deg * var(--amount, 2) ) );
  }

  82% {
    transform: skewY(calc(-2.2deg * var(--amount, 2) ) );
  }

  87% {
    transform: skewY(calc(-1.8deg * var(--amount, 2) ) );
  }

  100% {
    transform: skewY(0deg);
  }
}

@keyframes blob-skew-neg {
  0% {
    transform: skewY(0deg);
  }

  13% {
    transform: skewY(calc(-1.8deg * var(--amount, 2) ) );
  }

  18% {
    transform: skewY(calc(-2.2deg * var(--amount, 2) ) );
  }

  24% {
    transform: skewY(calc(-2.48deg * var(--amount, 2) ) );
  }

  25% {
    transform: skewY(calc(-2.5deg * var(--amount, 2) ) );
  }

  26% {
    transform: skewY(calc(-2.48deg * var(--amount, 2) ) );
  }

  32% {
    transform: skewY(calc(-2.2deg * var(--amount, 2) ) );
  }

  37% {
    transform: skewY(calc(-1.8deg * var(--amount, 2) ) );
  }

  50% {
    transform: skewY(0deg);
  }

  63% {
    transform: skewY(calc(1.8deg * var(--amount, 2) ) );
  }

  68% {
    transform: skewY(calc(2.2deg * var(--amount, 2) ) );
  }

  74% {
    transform: skewY(calc(2.48deg * var(--amount, 2) ) );
  }

  75% {
    transform: skewY(calc(2.5deg * var(--amount, 2) ) );
  }

  76% {
    transform: skewY(calc(2.48deg * var(--amount, 2) ) );
  }

  82% {
    transform: skewY(calc(2.2deg * var(--amount, 2) ) );
  }

  87% {
    transform: skewY(calc(1.8deg * var(--amount, 2) ) );
  }

  100% {
    transform: skewY(0deg);
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(.9)scaleY(1);
  }

  25% {
    transform: scaleX(.9)scaleY(.9);
  }

  50% {
    transform: scaleX(1)scaleY(.9);
  }

  75% {
    transform: scaleX(.9)scaleY(.9);
  }

  100% {
    transform: scaleX(.9)scaleY(1);
  }
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, -280px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hap-card__footer, .hap-card__body, .hap-card__header {
  padding-left: 20px;
  padding-right: 20px;
}

.happening {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.happening:before, .happening:after {
  content: "";
  width: 25%;
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
}

.happening:before {
  background-image: linear-gradient(to left, #fff0, #fff 50%);
  left: 0;
  transform: translateX(-100%);
}

.happening:after {
  background-image: linear-gradient(to right, #fff0, #fff 50%);
  right: 0;
  transform: translateX(100%);
}

.happening > div.swiper {
  display: flex;
}

.happening__title {
  color: #006;
  margin-bottom: 8px;
  font-size: .875em;
  font-weight: 600;
}

.hap-card {
  height: 100%;
  background-color: var(--hap-card-tint, #f9f7f5);
  border: 4px solid #fff;
  grid-template: "header" minmax(10ch, min-content)
                 "body" 1fr
                 "footer" min-content
                 / 1fr;
  display: grid;
  box-shadow: 3px 2px 10px 3px #11163112;
}

.hap-card__header {
  background-color: var(--hap-card-color);
  color: #fff;
  border: 4px solid #fff;
  grid-area: header;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.hap-card__title {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.33;
}

.hap-card__body {
  color: #000000ab;
  grid-area: body;
  padding-top: 12px;
  font-size: 1em;
  line-height: 1.375;
}

.hap-card__footer {
  grid-area: footer;
  padding-top: 8px;
  padding-bottom: 8px;
}

.hap-card__link:hover .link-arrow:after {
  transform: translate3d(6px, 0, 0);
}

.hap-card__footer-link {
  position: relative;
}

.hap-card__footer-link.link-arrow:after {
  top: 2px;
}

@media screen and (max-width: 480px) {
  .super-fig__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1040px) {
  .super-fig__body {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1041px) {
  .super-fig__body {
    padding-left: 0;
    padding-right: 0;
  }
}

.super {
  margin-bottom: 2.25em;
  position: relative;
  overflow: hidden;
}

.super__container {
  background-color: #fff;
  position: relative;
}

.super__container:after {
  content: "";
  z-index: -1;
  background-color: #fff;
  position: absolute;
  inset: 0;
}

.super-fig {
  grid-template-rows: auto 48px auto;
  grid-template-columns: 1fr;
  display: grid;
  position: relative;
}

@media screen and (min-width: 768px) {
  .super-fig {
    grid-template-rows: auto 170px auto;
  }
}

@media screen and (min-width: 1200px) {
  .super-fig.loaded:after {
    content: "";
    z-index: 1;
    background-image: linear-gradient(to top, #fff 30%, #ffffff05);
    position: absolute;
    inset: 40% -32px 0;
  }
}

@media screen and (max-width: 1199px) {
  .super-fig.loaded > .super-fig__body:before, .super-fig.loaded > .super-fig__body:after {
    content: "";
    height: 120px;
    background-image: linear-gradient(to top, #fff, #fff0);
    position: absolute;
    top: 0;
    left: -32px;
    right: -32px;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 1199px) and (min-width: 600px) {
  .super-fig.loaded > .super-fig__body:before, .super-fig.loaded > .super-fig__body:after {
    background-image: linear-gradient(to top, #fff, #fff0);
  }
}

@media screen and (max-width: 1199px) {
  .super-fig.loaded > .super-fig__body:before {
    height: 160px;
  }
}

@media screen and (max-width: 1199px) {
  .super-fig.loaded > .super-fig__body:after {
    height: 80px;
  }
}

.super-fig__body {
  z-index: 2;
  grid-area: 2 / 1 / 4 / 2;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .super-fig__body {
    background-color: #fff;
  }
}

.super-fig__kicker {
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-sea-serpent);
  margin-bottom: 8px;
  font-size: 12px;
}

.super-fig__title {
  text-align: center;
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 800;
  line-height: 1.1;
}

@media screen and (min-width: 768px) {
  .super-fig__title {
    font-size: 2.75em;
    line-height: 1;
  }
}

.super-fig__blurb {
  max-width: 654px;
  letter-spacing: 0;
  color: var(--font-color-dark);
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.55;
}

@media screen and (min-width: 600px) {
  .super-fig__blurb {
    font-size: 18px;
  }
}

.super-fig__link {
  color: var(--color-teal);
  padding-right: 24px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.super-fig__fig {
  z-index: 1;
  max-width: 1200px;
  height: 100%;
  grid-area: 1 / 1 / 3 / 2;
  margin: 0 auto;
  position: relative;
}

.super-fig__bg {
  z-index: -1;
  background-image: linear-gradient(#a4edeb, #fff0);
  display: none;
  position: absolute;
  inset: 240px 10px -40px;
  transform: perspective(400px)rotateX(-1deg);
  box-shadow: 0 10px 10px 15px #155e5912;
}

@media screen and (min-width: 1200px) {
  .super-fig__bg {
    display: block;
  }
}

.super-fig__image {
  height: auto;
}

#happening .happening__title, #happening .swiper {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: 1420px) {
  #happening .happening__title, #happening .swiper {
    padding-left: 0;
    padding-right: 0;
  }
}

#happening .swiper-container {
  height: 100%;
}

#happening .swiper-slide {
  height: auto;
}

#happening .swiper-button-next-unique {
  right: 0;
  transform: translate(50%, calc(14px - 50%))scaleX(-1);
}

@media screen and (min-width: 900px) {
  #happening .swiper-button-next-unique {
    right: -10px;
    transform: translate(100%, calc(14px - 50%))scaleX(-1);
  }
}

#happening .swiper-button-prev-unique {
  left: 0;
  transform: translate(-50%, calc(14px - 50%));
}

@media screen and (min-width: 900px) {
  #happening .swiper-button-prev-unique {
    left: -10px;
    transform: translate(-100%, calc(14px - 50%));
  }
}

#happening .swiper-button-disabled {
  display: none;
}

#happening .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -24px;
}

#happening .swiper-button-next-unique, #happening .swiper-button-prev-unique {
  z-index: 5;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  opacity: .9;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2016%2036%27%3E%3Cg%20fill%3D%27%23222%27%3E%3Cpath%20d%3D%27M14%2C31.54A1.5%2C1.5%2C0%2C0%2C1%2C13%2C31.1l-12-12a1.5%2C1.5%2C0%2C0%2C1%2C0-2.12l12-12A1.5%2C1.5%2C0%2C0%2C1%2C15.08%2C7L4.1%2C18l11%2C11A1.5%2C1.5%2C0%2C0%2C1%2C14%2C31.54Z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 43%;
  background-repeat: no-repeat;
  background-size: 30%;
  border-radius: 50%;
  transition: opacity .3s, background-color .3s;
  position: absolute;
  top: 50%;
  box-shadow: 2px 2px 6px #00000026;
}

@media screen and (max-width: 767px) {
  #happening .swiper-button-next-unique, #happening .swiper-button-prev-unique {
    display: none;
  }
}

#happening .swiper-button-next-unique:hover, #happening .swiper-button-prev-unique:hover {
  opacity: .98;
}

html:after, body:before {
  content: none;
}

.u-rel {
  position: relative;
}

.nav-container {
  height: 90px;
  z-index: 1;
  background: #f9f7f5;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: -24px;
  padding-bottom: 20px;
  box-shadow: 14px 5px 20px #0000001a;
}

@media screen and (min-width: 1280px) {
  .nav-container {
    height: 130px;
  }
}

.nav-container > img {
  box-shadow: 0 -2px 10px 10px #00000012;
}

.link-arrow {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.link-arrow:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzIyYTQ5YyIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMjJhNDljIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4K");
  margin-left: 7px;
  transition: transform .2s ease-out;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
}

.link-arrow--gold:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iI2ZmYWEwMCIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjZmZhYTAwIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4=");
}

.link-arrow--navy:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzAwMDA2NiIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMDAwMDY2IiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4=");
}

.link-arrow--sea:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzExYzdlYiIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMTFjN2ViIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4=");
}

.link-arrow:hover:after {
  transform: translate3d(6px, 0, 0);
}

.etc {
  height: 800px;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 9rem;
  position: relative;
}

.etc:before {
  content: "Etc.";
  text-align: center;
  color: #888;
  font-size: 24px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=index.38ec9247.css.map */
